{% extends 'base.html' %} {% block content %}
<h2>Créer une Facture</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ facture_form.as_p }}

    <h3>Articles</h3>
    {{ article_formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Article</th>
                <th>Quantité</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for form in article_formset %}
            <tr>
                <td>{{ form.article }}</td>
                <td>{{ form.quantite }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit">Enregistrer la facture</button>
</form>
{% endblock %}